* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Post No Bills Jaffna";
  src: url(./fonts/PostNoBillsJaffna-Bold.ttf);
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;

  color: #ffffff;
}

.container {
  max-width: 1920px;
}

.supheader {
  display: flex;
  justify-content: space-around;
  padding: 14px 0;
  background: #000;
}

.supheader_info {
  display: flex;
}

.supheader_text {
  margin-left: 16px;
  font-size: 12px;
  line-height: 16px;

  color: #969696;
}

.supheader_link,
.login_link {
  margin-left: 13px;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;

  color: #969696;
}

.header_logo {
  font-family: "Post No Bills Jaffna", sans-serif;
  /* src: url(./fonts/PostNoBillsJaffna-Bold.ttf); */

  padding: 15px 0 16px 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;

  color: #ffffff;
}

.header_main {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: #0f0f0f;
}

.nav {
  /* padding: 31px 20px; */
}

.ul_nav {
  list-style: none;
  display: flex;
}

.li_nav a:hover {
  background: #1f1f1f;
  cursor: pointer;
}

.li_nav a {
  padding: 31px 20px;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: #ffffff;
}

.li_nav:last-child(2) {
  margin-left: 60px;
}

.intro_section {
  width: 100%;
  background: url(./img/intro-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 160px;
}

.intro_main_block {
  width: 320px;
  padding: 93px 64px;
  margin: 0 auto;
  border: 4px solid #ffffff;
  text-align: center;
}

.intro_title {
  font-family: "Post No Bills Jaffna", sans-serif;
  /* src: url(./fonts/PostNoBillsJaffna-Bold.ttf); */

  font-weight: bold;
  font-size: 64px;
  line-height: 96px;
  text-align: center;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 4px;
  text-align: center;
}

.intro_subtitle {
  padding-top: 7px;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
}

.intro_text {
  max-width: 730px;
  margin: 80px auto 0 auto;
  padding-bottom: 154px;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.content_section {
  font-family: "Playfair Display", serif;
  background: #000;
  color: #ffffff;
}

.content_item {
  display: flex;
  justify-content: space-between;
}

.content_title {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 50px;
  position: relative;
}

.content_subtitle {
  position: relative;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 40px;

  /* white */

  color: #ffffff;
}

.content_title::after {
  content: "";
  color: #fff;
  width: 120px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  left: calc(50% - 60px);
}

.content_subtitle::after {
  content: "";
  color: #fff;
  width: 120px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  left: calc(50% - 60px);
}

.product_bg {
  max-width: 260px;
  margin: 50px 25px 25px 25px;
  padding: 55px 23px 56px 22px;

  background: #191b1c;
}

.product_name,
.product_price {
  margin-left: 25px;
}

.product_name {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}

.product_price {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;

  /* light-gray */

  color: #d0d0d0;
}

.content_item_inner {
  display: flex;
  justify-content: space-around;
  margin: 0 55px;
}

.content_1 {
  max-width: 880px;
  background: url(./img/content-img-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 484px 252px 100px 252px;
  text-align: center;
}

.button {
  margin-top: 50px;
  font-family: PT Sans;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 12px 28px;
  text-decoration: none;
  border: 1px solid #fff;

  color: #ffffff;
  display: inline-block;
}

.content_left {
  width: 1040px;
  padding-top: 93px;
}

.content_img_2 {
  max-width: 880px;
}

.content_collection {
  margin: 100px auto;
  text-align: center;
}

.content_collection_text {
  max-width: 471px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  margin-top: 40px;

  text-align: center;
}

.section_new_pr {
  padding: 120px 0 150px 0;
  background: #000000;
}

.container_content {
  max-width: 1200px;
  /* text-align: center; */
  margin: 0 auto;
}

.new_pr_item,
.brands_item {
  display: flex;
  justify-content: space-between;
}

.brands_section {
  padding: 60px 0 80px 0;
  background: #0f0f0f;
}

.brands_item {
  margin-top: 40px;
}

.footer_main {
  padding: 80px 0 101px 0;
  background: url(./img/footer-bg.png);
  background-repeat: no-repeat;
}

.footer_title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */

  text-transform: uppercase;

  /* white */

  color: #ffffff;
}

.footer_item_inner {
  display: flex;
  justify-content: space-between;
}

.about_store {
  max-width: 350px;
}

.about_text {
  margin-top: 40px;
}
.form_field {
  padding: 10px 20px;
  background: #c9c9c9d3;
  border: none;
  outline: none;
}

.form_field::placeholder {
  color: #fff;
}

.subs_btn {
  padding: 10px 20px;
  background: #0f0f0f;
  color: #fff;
}

.subs_btn:hover {
  cursor: pointer;
}

.subs_form {
  display: flex;
  margin-top: 37px;
}

.subscribe {
  max-width: 350px;
}

.categories {
  max-width: 287px;
}

.categories_link_block {
  margin-top: 40px;
}

.cat_link {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px 20px 0px;
  background: #0f0f0f;
}

.section_subfooter {
  background: #0f0f0f;
  padding: 17px 0;
}

.subfooter_text {
  display: flex;
  justify-content: space-between;
  color: #d0d0d0;
  font-size: 12px;
  line-height: 16px;
}

.subfooter_text a {
  font-weight: 700;
  text-align: right;
  text-decoration-line: underline;
}
